{
  "presets": [
    "@babel/preset-env","@babel/preset-react"
  ],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
