{
  "arrowParens": "avoid",
  "printWidth": 120,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
